<h1>{{ name() }}</h1>

<dl>
  <td>Nombre:</td>
  <dd>
    <b>{{ name() }}</b>
  </dd>

  <td>Edad:</td>
  <dd>
    <b>{{ age() }}</b>
  </dd>

  <td>Método:</td>
  <dd>
    <b>
      {{ getHeroDescription() }}
    </b>
  </dd>

  <td>Capitalizado:</td>
  <!--  Intentar  -->
  <dd>
    <b>
      {{ name().toUpperCase() }}
    </b>
  </dd>
</dl>

<button (click)="changeHero()" class="btn btn-primary mx-2">
  Cambiar nombre
</button>

<button (click)="changeAge()" class="btn btn-primary">Cambiar edad</button>

<button (click)="resetForm()" class="btn btn-primary mx-2">Reset</button>
